
body {
  margin: 0px;
}

.header {
  height: 80px;
  font-size: 80px;
  background: #a3bfff;
  border-bottom: 2px solid black;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.nav {
  width: 180px;
  display: inline-block;
  vertical-align: top;
  background: #dae5ff;
  padding: 5px;
}

.nav .link {
  height: 15px;
  font-size: 15px;
  background: #bfd3ff;
  text-align: center;
  border: 1px solid #6896ff;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.nav .link.active {
  background: #ffdda3;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav .break {
  height: 4px;
}

.content {
  display: inline-block;
  vertical-align: top;
  max-width: 800px;
  margin-left: 10px;
}

.status-box > div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
}

.status-box .warning {
  background: yellow;
  border: 1px solid black;
}

.status-box .bad {
  background: #ff7d7d;
  border: 1px solid black;
}

.status-box .good {
  background: green;
  border: 1px solid black;
}

.list {
}

.list .listHead {
  background: #d0d0d0;
  height: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
}

.list .listHead div {
  display: inline-block;
}

.list .listItem {
  height: 25px;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 10px;
}
.list .listItem:nth-child(2n) {
  background: #e9e9e9;
}
.list .listItem:nth-child(2n+1) {
  background: #f1f1f1;
}

.list .listItem div {
  display: inline-block;
}

#jobSteps .col0 {
  width: 50px;
}
#jobSteps .col1 {
  width: 600px;
}
#jobSteps .col2 {
  width: 70px;
}
#jobSteps input {
  width: 30px;
}

